.btn-page-back {position:absolute;margin:0px;font-size: 10px;}

.cls-tbl-edit {position:relative;top:0px;width:100%;box-sizing:border-box;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;line-height:22px;table-layout:fixed;box-sizing:border-box;}
.cls-tbl-edit thead {width:100%;}
.cls-tbl-edit tbody {width:100%;}
.cls-tbl-edit tr {width:100%;}
.cls-tbl-edit th {box-sizing:border-box;}
.cls-tbl-edit td {box-sizing:border-box;vertical-align:middle;}
.cls-tbl-edit tbody tr:hover td {background:#e8edff;}

/*.cls-tbl-edit .form-edit-elem-container {width:100%;display:block;box-sizing:border-box;margin:0px auto;}*/
.cls-tbl-edit .cls-row-group {width:100%;display:block;box-sizing:border-box;border:1px solid white;border-radius:6px;padding:2px;margin:2px;}
.cls-tbl-edit .cls-row-group .cls-group-title {font-weight:bold;font-size:14px;display:block;width:90%;text-align:start;padding:5px 0px;margin-left:15px;}
.cls-tbl-edit .cls-row {display:inline-block;width:100%;margin:5px auto;}
.cls-tbl-edit .cls-row-title {text-align:right;display:inline-block;vertical-align:top;margin-left:-0.5em;margin-right:.5em;}
.cls-tbl-edit .cls-row-value {text-align:left;display:inline-block;}
.cls-tbl-edit .title-checkbox {text-align:left;margin-left:0;margin-right:0;}
.cls-tbl-edit .value-checkbox {text-align:right;}

.cls-tbl-edit td input[type="text"], .cls-tbl-edit td textarea, .cls-tbl-edit td select {font-weight:normal;font-size:12px;color:#039;width:80%;padding:1.5px 5px 1.5px 5px;}
/*
.cls-tbl-edit input[type="radio"] {font-weight:normal;font-size:12px;color:#039;padding-left:10px;margin-left:10px;}
.cls-tbl-edit label.cls-radio-label {display:inline-block;font-weight:bold;font-size:12px;padding-left:5px;padding-right:10px;}
*/
.cls-tbl-edit td input[type=radio] {display:none;margin:10px;}
.cls-tbl-edit td input[type=radio] + label {display:inline-block;margin:-2px;font-weight:normal;font-size:12px;padding:4px 12px;background-color:#e8edff;border-color:#ddd;border:1px solid #dddddd;cursor:pointer;}
.cls-tbl-edit td input[type=radio]:checked + label {background-image:none;background-color:#b9c9fe;font-weight:bold;}
.cls-tbl-edit td input[type=radio]:first-child + label {border-top-left-radius:6px;border-bottom-left-radius:6px;}
.cls-tbl-edit td label:last-child {border-top-right-radius:6px;border-bottom-right-radius:6px;}

.cls-tbl-edit td span input {font-weight:normal;font-size:12px;color:#039;width:70%;border-top-right-radius:0px;border-bottom-right-radius:0px;padding:1.5px 0px 1.5px 5px;vertical-align:middle;}
.cls-tbl-edit td span .ui-button {margin-left:-1px;width:19px;height:17px;font-size:16px;vertical-align:middle;} /*margin-top:2px;*/
.cls-tbl-edit td img.ui-datepicker-trigger {width:20px;height:20px;cursor:pointer;vertical-align:middle;margin-bottom:1px;}
.cls-tbl-edit span.ui-combobox {display:inline-block;width:100%;}
.cls-tbl-edit .jspn-addable + span.ui-combobox {display:inline-block;width:80%;}
.cls-tbl-edit td img.jspn-button {vertical-align:middle;cursor:pointer;}

.cls-tbl-edit td input[readonly], .cls-tbl-edit textarea[readonly], .cls-tbl-edit td input[disabled], .cls-tbl-edit td textarea[disabled], .cls-tbl-edit select[disabled] {border-color:red;opacity:1;background-color:lightyellow;}
.cls-tbl-edit td span input[readonly] {border-color:red;border-top-right-radius:6px;border-bottom-right-radius:6px;width:80%;}
.cls-tbl-edit td input[readonly] + img.ui-datepicker-trigger, .cls-tbl-edit td input[disabled] + img.ui-datepicker-trigger {display:none;}
.cls-tbl-edit td input[type=radio][disabled] + label {border-color:red;background-color:lightyellow;}

.cls-tbl-edit td input.input-file-upload {opacity:0;}

.cls-tbl-edit .input-invalid {background-color:red;}
.cls-tbl-edit select.input-invalid + span.ui-combobox input {background-color:red;}

.link-button {cursor:pointer;}
.link-button.link-disabled {cursor:default;opacity:0.4;background-color:gray;}