.cls-list-container {position:relative;width:100%;height:100%;}
#div_list_title {display:block;text-align:left;font-weight:bold;font-size:16px;margin-left:50px;margin-bottom:10px;}

.cls-tbl-list tbody tr td {padding-left:.5em;padding-right:.5em;font-size:12px;}
.cls-tbl-list tbody tr td.center {text-align:center;}

#divDisplayQueryResult {position:relative;height:100%;width:100%;}
#divDisplayQueryResult table th {font-weight:normal;}
#divDisplayQueryResult table td.center {text-align:center;}
#divDisplayQueryResult table td.left {text-align:left;white-space:pre;}
#divDisplayQueryResult table td.right {text-align:right;white-space:pre;}
#divDisplayQueryResult table td.apply {font-weight:bold;color:green;font-size:9px;}
#divDisplayQueryResult table td img.list-row-button {cursor:pointer;width:16px;height:16px;}

#divSelectableFields ul {display:block;margin:0 auto;padding:.5em 0;}
#divSelectableFields li {display:inline-block;margin-left:1em;margin-top:.5em;}

.dataTables_length {	display:inline-block;float:right;width:150px;margin-right:10px;margin-left:20px;text-align:right;}
.paging_full_numbers {font-size:12px;}
.span6 .ui-button {margin-right:0px;height:25px;}
.span6 .cls_button_select {margin-left:2px;}
a.cls_button_select span {display:inline-block;height:24px;line-height:24px;padding-right:30px;background: url(../../images/edit.png) no-repeat center right;}
a.cls_button_select:not(.DTTT_button_space):hover span {background:url(../../images/edit.png) no-repeat center right;}
.css_left {float:left;}
.css_right {float:right;}

a.DTTT_button_space {cursor:default;}

a.DTTT_button_add_row {padding-right:0px;}
a.DTTT_button_add_row span  {display:inline-block;height:24px;line-height:24px;padding-right:30px;background: url(../../images/add_inactive.png) no-repeat 98% 50%;}
a.DTTT_button_add_row:not(.DTTT_button_disabled):hover span { background: url(../../images/add.png) no-repeat 98% 50%; }

.FixedHeader_Cloned thead {display: none;}/* Avoid print preview display FixedHeader div*/

/* Date Picker */
.ui-datepicker { font-size:12px; }
/* Settings Dialog */
.ui-dialog { font-size:12px; }
.ui-dialog-titlebar-close {visibility: hidden;}

.td-align-center {text-align:center;}

.link-button img {cursor:pointer;}
.link-disabled img {cursor:default;opacity:0.4;background-color:gray;}
img.link-button {cursor:pointer;}
img.link-disabled {cursor:default;opacity:0.4;background-color:gray;}