﻿.cls-tbl-search {margin-top:25px;}
/*.cls-tbl-search tbody tr:hover td {background:#e8edff;}*/

.cls-tbl-search .cls-row-group {width:100%;display:block;box-sizing:border-box;border:1px solid white;padding:2px;margin:2px;}
.cls-tbl-search .cls-row-group .cls-group-title {font-weight:bold;font-size:14px;display:block;width:90%;text-align:start;padding:5px 0px;margin-left:15px;}
/*
.cls-tbl-search .cls-row {display:block;width:100%;margin:5px auto;position:static;white-space:nowrap;overflow-x:hidden;}
.cls-tbl-search .cls-row div {float:left;display:inline-block;vertical-align:top;white-space:nowrap;overflow-x:hidden;}
.cls-tbl-search .cls-row-title {text-align:right;margin-left:-0.5em;margin-right:.5em;}
.cls-tbl-search .cls-row-value {text-align:left;}
*/
.cls-tbl-search .title-checkbox {text-align:left;margin-left:0;margin-right:0;}
.cls-tbl-search .value-checkbox {text-align:right;}
.cls-tbl-search span.ui-combobox {display:inline-block;width:100%;}
.cls-tbl-search .jspn-addable + span.ui-combobox {display:inline-block;width:80%;}
.cls-tbl-search td img.jspn-button {vertical-align:middle;cursor:pointer;}

.cls-tbl-search td input[type="text"], .cls-tbl-search td textarea, .cls-tbl-search td select {font-weight:normal;font-size:12px;color:#039;width:80%;padding-right:.2em;}
.cls-tbl-search span input {font-weight:normal;font-size:12px;color:#039;width:70%;border-top-right-radius:0px;border-bottom-right-radius:0px;vertical-align:middle;}
.cls-tbl-search span .ui-button {margin-left:-1px;width:19px;height:17px;font-size:16px;vertical-align:top;}
.cls-tbl-search td input.hasDatepicker {width:75%;font-weight:normal;font-size:12px;color:#039;}
.cls-tbl-search td img.ui-datepicker-trigger {margin-bottom:0px;}
.cls-tbl-search td input[readonly], .cls-tbl-search  textarea[readonly], .cls-tbl-search  td input[disabled], .cls-tbl-search  td textarea[disabled], .cls-tbl-search  select[disabled] {border-color:red;opacity:1;background-color:lightyellow;}
.cls-tbl-search td span input[readonly] {border-color:red;border-top-right-radius:6px;border-bottom-right-radius:6px;width:80%;}
.cls-tbl-search td input[readonly] + img.ui-datepicker-trigger, .cls-tbl-search  td input[disabled] + img.ui-datepicker-trigger {display:none;}
.cls-tbl-search td input[type=radio][disabled] + label {border-color:red;background-color:lightyellow;}

.clsFormButton {width:80px;font-size:12px;}
