﻿#content {position:fixed;top:0px;left:0px;width:100%;height:100%;max-height:100%; }
#top_wrapper {width:100%;}
#disp_message {width:100%;}
.cls-div-info {display:none;position:absolute;top:0px;left:0px;width:100%;text-align:center;font-weight:bold;color:red;}

#mid_wrapper {position:fixed;top:0;width:100%;height:100%;overflow:hidden;}
#middle_panel {margin:0;width:100%;height:100%;position:relative;top:0px;padding-left:0.5%;} /* */

#bot_wrapper { position:relative;width:98%;height:10%;display:none; } /*display:none;*/
#bottom_panel { font-size:11px;border-top:1px solid #D0D0D0;line-height:32px;padding:0 10px 0 10px;margin:0 0 0 0; }
#bottom_panel  div {display:inline-block;padding:0px .5em;}
#bottom_panel  #div_bottom_contacts {}
#bottom_panel  #div_bottom_contacts span {}
#bottom_panel  #div_bottom_contacts span:first-child {font-weight:bold;text-decoration:underline;}
#bottom_panel  #div_bottom_contacts span a {}
.cls-div-sys {float:right;}
