.cls-building-detail-container {text-align:center;}
.spn-group-title {margin-left:2em;font-size:1.2em;font-weight:bold;padding-bottom:1em;display:block;}
.cls-building-detail {display:inline-block;margin:.4em .2em;text-align:center;}

.cls-building-detail input[type=checkbox] {display:none;margin:10px;}
.cls-building-detail input[type=checkbox] + label {display:inline-block;border-radius:6px;margin:-2px;font-weight:normal;font-size:12px;padding:4px 12px;background-color:#e8edff;border-color:#ddd;border:1px solid #dddddd;cursor:pointer;min-width:120px;}
.cls-building-detail input[type=checkbox]:checked + label {background-image:none;background-color:#b9c9fe;font-weight:bold;}
.cls-building-detail input[type=checkbox][disabled] + label {cursor:default;}
