.cls-map-canvas-container {width:auto;height:auto;position:absolute;border-radius:6px;padding:4px;background-color:whitesmoke;}
#map_canvas {width:600px;height:300px;border:1px solid #ccc;border-radius:6px;}
#spn_map_position {font-size:.8em;display:inline-block;margin:1em;}

.panel { width:100%; }
