@media only screen and (min-width: 40em) {
.top-bar {
	text-align: center;
  background: #333333;
  height: 3.6rem;
  line-height: 3.6rem;
  margin-bottom: 0;
  overflow: show;
  position: relative; }
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
	color: #E0E0FF; }
.top-bar.expanded .title-area {
	background: #333333; }
.top-bar.expanded .toggle-topbar a {
	color: #888888; }
.top-bar-section ul {
	font-size: 16px; }
.top-bar-section ul li {
	background: #333333; }
.top-bar-section ul li > a {
	color: #E0E0FF;
	display: block;
	font-family: "Roboto Condensed", Roboto, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: normal;
	text-transform: none; }
.top-bar-section ul li > a.button {
	font-size: 0.8125rem;
	background-color: #008CBA;
	border-color: #007095;
	color: #FFFFFF; }
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
	background-color: #007095; }
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
	color: #FFFFFF; }
.top-bar-section ul li > a.button.secondary {
	background-color: #e7e7e7;
	border-color: #b9b9b9;
	color: #333333; }
.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
	background-color: #b9b9b9; }
.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
	color: #333333; }
.top-bar-section ul li > a.button.success {
	background-color: #43AC6A;
	border-color: #368a55;
	color: #FFFFFF; }
.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
	background-color: #368a55; }
.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
	color: #FFFFFF; }
.top-bar-section ul li > a.button.alert {
	background-color: #f04124;
	border-color: #cf2a0e;
	color: #FFFFFF; }
.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
	background-color: #cf2a0e; }
.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
	color: #FFFFFF; }
.top-bar-section ul li > a.button.warning {
	background-color: #f08a24;
	border-color: #cf6e0e;
	color: #FFFFFF; }
.top-bar-section ul li > a.button.warning:hover, .top-bar-section ul li > a.button.warning:focus {
	background-color: #cf6e0e; }
.top-bar-section ul li > a.button.warning:hover, .top-bar-section ul li > a.button.warning:focus {
	color: #FFFFFF; }
.top-bar-section ul li > a.button.info {
	background-color: #a0d3e8;
	border-color: #61b6d9;
	color: #333333; }
.top-bar-section ul li > a.button.info:hover, .top-bar-section ul li > a.button.info:focus {
	background-color: #61b6d9; }
.top-bar-section ul li > a.button.info:hover, .top-bar-section ul li > a.button.info:focus {
	color: #FFFFFF; }
.top-bar-section ul li > button {
	font-size: 0.8125rem;
	background-color: #008CBA;
	border-color: #007095;
	color: #FFFFFF; }
.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
	background-color: #007095; }
.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
	color: #FFFFFF; }
.top-bar-section ul li > button.secondary {
	background-color: #e7e7e7;
	border-color: #b9b9b9;
	color: #333333; }
.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
	background-color: #b9b9b9; }
.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
	color: #333333; }
.top-bar-section ul li > button.success {
	background-color: #43AC6A;
	border-color: #368a55;
	color: #FFFFFF; }
.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
	background-color: #368a55; }
.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
	color: #FFFFFF; }
.top-bar-section ul li > button.alert {
	background-color: #f04124;
	border-color: #cf2a0e;
	color: #FFFFFF; }
.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
	background-color: #cf2a0e; }
.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
	color: #FFFFFF; }
.top-bar-section ul li > button.warning {
	background-color: #f08a24;
	border-color: #cf6e0e;
	color: #FFFFFF; }
.top-bar-section ul li > button.warning:hover, .top-bar-section ul li > button.warning:focus {
	background-color: #cf6e0e; }
.top-bar-section ul li > button.warning:hover, .top-bar-section ul li > button.warning:focus {
	color: #FFFFFF; }
.top-bar-section ul li > button.info {
	background-color: #a0d3e8;
	border-color: #61b6d9;
	color: #333333; }
.top-bar-section ul li > button.info:hover, .top-bar-section ul li > button.info:focus {
	background-color: #61b6d9; }
.top-bar-section ul li > button.info:hover, .top-bar-section ul li > button.info:focus {
	color: #FFFFFF; }
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: #555555;
	color: #FFFFFF;
	background: #222222; }
.top-bar-section ul li.active > a {
	background: #008CBA;
	color: #FFFFFF; }
.top-bar-section ul li.active > a:hover {
	background: #0078a0;
	color: #FFFFFF; }
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
	color: #FFFFFF;
	display: block; }

.top-bar-section .dropdown label {
	color: #777777;
	font-size: 0.625rem;
	font-weight: bold;
	margin-bottom: 0;
	padding: 8px 0.9375rem 2px;
	text-transform: uppercase; }
ul.center-buttons {
	display: inline-block; }
.logo {
	left: 5px;
	top: -2px;
	position: absolute; }
	}

.logo {
  max-width: 5rem;
  margin-top: 0rem;
  margin-left: 1px; }

.menu-icon {
  padding-top: 1.3rem; }

.banner-tagline {
	max-width: 80%;
	height: auto;
	position: relative;
	top: -4rem;
	right: -2rem; }

/* Styles for signup panels */
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px; }

.left-solid {
	margin-top: 0px;
	margin-bottom: 0px; }

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff; }
.signup-panel a{
  color: #fff; }
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999; }
.signup-panel form input, .signup-panel form span {
  height: 50px; }
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0; }
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center; }
.signup-panel .button {
  margin-left: 35%; }

.newusers {
  background: #fff; }

.footer {
	background: #202028;
	color: #D0D0D0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404048), to(#202028));
	background: -webkit-linear-gradient(top, #404048, #202028);
	background: -moz-linear-gradient(top, #404048, #202028);
	background: -ms-linear-gradient(top, #404048, #202028);
	background: -o-linear-gradient(top, #404048, #202028); }

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#0ff;
    font-weight: bold;
    cursor: default; }
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE"; }

/* Google Maps */
#map {
  max-width: 75%;
  height: 400px;
  background-color: #CCC; }

.img-thumb {
  position: relative;
  display: inline-block;
  padding: 3px;
  border: 1px solid #DADADA;
  background: #FFF none repeat scroll 0% 0%;
  margin: 0px 15px 0px 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }
	
body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal; }

body, p {
	font-size: 90%; }

.content h4:not(.defaultH4) {
  font-family: "Roboto Condensed", Helvetica, Roboto, Arial, sans-serif;
  background: #043A94;
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #E0E0FF; }
	
button, .button {
  font-family: "Roboto Condensed", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
	padding: 0.5rem 1rem 0.5rem 1rem; }
	
.table-room_detail {
  border-bottom: 1px solid #d3cbc5;
  width: 320px; }
.table-room_detail tr {
  padding: 0;
  margin: 0; }
.table-room_detail th {
  width: 80px;
	text-align: center;
  vertical-align: middle;
  padding-bottom: 2px; }
.table-room_detail th span {
  display: block;
  width: 69px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  background: #e9e6de; }
.table-room_detail td {
  padding: 6px 10px 0;
  vertical-align: middle; }
	
.breadcrumbs {
  border-style: solid;
  border-width: 1px;
  display: block;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5625rem 0.875rem 0.5625rem;
  background-color: #f4f4f4;
  border-color: gainsboro;
  border-radius: 3px; }
.breadcrumbs > * {
	color: #008CBA;
	float: left;
	font-size: 0.6875rem;
	line-height: 0.6875rem;
	margin: 0;
	text-transform: uppercase; }
.breadcrumbs > * a {
	color: #008CBA; }
.breadcrumbs > *.current {
	color: #333333;
	cursor: default; }
.breadcrumbs > *.current a {
	color: #333333;
	cursor: default; }
.breadcrumbs > *.current:hover, .breadcrumbs > *.current:hover a, .breadcrumbs > *.current:focus, .breadcrumbs > *.current:focus a {
	text-decoration: none; }
.breadcrumbs > *.unavailable {
	color: #999999; }
.breadcrumbs > *.unavailable a {
	color: #999999; }
.breadcrumbs > *.unavailable:hover, .breadcrumbs > *.unavailable:hover a, .breadcrumbs > *.unavailable:focus,
.breadcrumbs > *.unavailable a:focus {
	color: #999999;
	cursor: not-allowed;
	text-decoration: none; }
.breadcrumbs > *:before {
	color: #AAAAAA;
	content: "/";
	margin: 0 0.75rem;
	position: relative;
	top: 1px; }