﻿@font-face {
    font-family: 'Roboto Condensed';
    src: url('_google_FONT/RobotoCondensed-Regular.ttf')  format('truetype'); /*RobotoCondensed-Regular.ttf*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('_google_FONT/RobotoCondensed-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('_google_FONT/RobotoCondensed-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('_google_FONT/RobotoCondensed-BoldItalic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}



body {font:12px/1.45em "Roboto Condensed", arial, Sans-Serif;color:#333;background-color:#fff;margin:0px;}
/*body {font:80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;color:#333;background-color:#fff;margin:0px;}*/

.warning-message {font-weight:bold;color:orange;font-size:.1em;}
.error-message {font-weight:bold;color:red;font-size:.1em;}
.hidden {display:none !important;}
.input-double, .input-integer {text-align:right;}
.spn-sub-text {font-size:10px;font-style:italic;margin-left:5px;}

.table-title {font-weight:normal;text-align:right;}
.table-value {font-weight:normal;text-align:left;}
.table-title-checkbox {text-align:left;}
.table-value-checkbox {text-align:right;}
.cls-row {display:inline-block;width:100%;margin:5px auto;position:static;white-space:nowrap;}
.cls-row div {float:left;display:inline-block;vertical-align:top;}
.cls-row-title {text-align:right;margin-left:-0.5em;margin-right:.5em;}
.cls-row-value {text-align:left;}

#frmSearch .table-value {width: 60%;}

div#error{font-weight:bold;font-size:small;color:Red;font-size:11px;height:15px;}
div#info{font-weight:bold;font-size:small;color:Salmon;font-size:11px;height:15px;}
.ul-vldr-error-msg {width:auto;text-align:start;}
.ul-vldr-error-msg li {font-weight:bold;font-size:small;color:red;font-size: 11px;}

/* Table Styles */
.rounded-corner {width:95%;border-collapse:collapse;}
.rounded-corner thead th.rounded-top-left {background:#b9c9fe url('../images/css_round_corner/left.png') left -1px no-repeat;}
.rounded-corner thead th.rounded-top-right {background:#b9c9fe url('../images/css_round_corner/right.png') right -1px no-repeat;}
.rounded-corner tfoot td.rounded-foot-left {background:#e8edff url('../images/css_round_corner/botleft.png') left bottom no-repeat;}
.rounded-corner tfoot td.rounded-foot-right {background:#e8edff url('../images/css_round_corner/botright.png') right bottom no-repeat;}
.rounded-corner th {color:#039;background:#b9c9fe;}
.rounded-corner td {background:#e8edff;border-top:1px solid #fff;color:#669;}
.rounded-corner td input, .rounded-corner td textarea, .rounded-corner td select {padding:1.5px 2px 1.5px 5px;margin-left:0px;border-radius:4px;border:1px solid #dddddd;background:#f2f5f7 50% top repeat-x;color:#362b36;}


button, input[type=checkbox]:not([disabled]), input[type=radio]:not([disabled]) {cursor:pointer;}
input, select, textarea {padding-left:5px;}
input[type="text"], textarea, select {font-weight:normal;font-size:12px;color:#039;border-radius:4px;border:1px solid #dddddd;background:#f2f5f7 50% top repeat-x;}
span input {font-weight:normal;font-size:12px;color:#039;border-top-right-radius:0px;border-bottom-right-radius:0px;vertical-align:top;}

input[readonly], textarea[readonly], input[disabled], textarea[disabled], select[disabled] {border-color:red !important;background-color:lightyellow !important;opacity:1 !important;}
span input[readonly] {border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;}
select[disabled] {-webkit-appearance:none;-moz-appearance: none;}
button[disabled] {color:gray;opacity:0.5;cursor:default;}
input[type=radio][disabled] + label {border-color:red;background-color:lightyellow;cursor:default;}
img.ui-datepicker-trigger { width:20px;height:20px;cursor:pointer;vertical-align:bottom; } /* margin-bottom:3px;*/
span.ui-combobox { display:inline-block;width:100%; }
.jspn-addable + span.ui-combobox { display:inline-block;width:80%; }
img.jspn-button { vertical-align:middle;cursor:pointer; }

/* ++ upload image controls */
.cls-upload-progress { position:absolute;width:100%;margin-left:-1px;margin-top:-1px;border:1px solid #ddd;padding:0;border-radius:3px;z-index:1000; }
.cls-upload-bar { background-color:#b4f5b4;width:0%;height:20px;border-radius:3px; }
.cls-upload-percent { position:absolute;display:inline-block;top:3px;left:48%;line-height:1; }
.hidden > * {display:none !important;}

div.display-upload { position:relative;background-image:none;background-color:#ddd;text-align:center;width:100%;max-width:100%;min-height:170px;background-size:100% auto;-o-background-size:100% auto;-webkit-background-size:100% auto;-moz-background-size:100% auto;background-repeat:no-repeat; }
div.display-upload.clsCtrl-deactivate { background-color:lightyellow; }
div.display-upload[disabled] { background-color:lightyellow; }

div.display-upload div.input-controller.fmg-controller { border:1px solid transparent;border-radius:4px;padding-left:.2em;padding-right:.5em;line-height:1;font-size:xx-small;position:absolute;right:0px;margin-top:2px;margin-right:2px;z-index:100; }
div.display-upload div.input-controller.fmg-controller > input {cursor:default;}
div.display-upload[style*="background-image:"]:not([disabled]) div.input-controller.fmg-controller:hover { border:1px solid red;background-color:white; }
div.display-upload[style*="background-image:"]:not([disabled]) div.input-controller.fmg-controller > input {cursor:pointer;}
/*div.display-upload:not([disabled]):not([style=background-image:none]) div.input-controller.fmg-controller { display:none; }*/
div.display-upload[disabled] div.input-controller.fmg-controller { display:none; }

div.display-upload div.input-controller.fmg-controller label { vertical-align:super; }

div.display-upload span.spn-image-select { display:block;box-sizing:border-box;white-space:normal;border:1px solid lightgray;border-bottom:0;text-align:center;opacity:0.4; }
div.display-upload:not([disabled]):not(.clsCtrl-deactivate) span.spn-image-select { cursor:pointer; }
div.display-upload:not([disabled]):not(.clsCtrl-deactivate) span.spn-image-select:hover { font-weight:bold;color:yellow;text-shadow:0 0 5px black;opacity:1; }
div.display-upload[disabled] span.spn-image-select { border:1px solid red; }
div.display-upload.clsCtrl-deactivate span.spn-image-select { border:1px solid orange; }
div.display-upload.clsCtrl-valueChanged span.spn-image-select { border:1px dashed red; }

div.display-upload input[type="file"].user-input { visibility:hidden; }
/* -- upload image controls */

/*++ for datatable jEditable */
a.DTTT_button_disabled {background-color:lightgray;opacity:0.3;cursor:default; }

td.edit {border:1px solid orange;}
td.edit-changed {background:lightgreen;}
td.edit-invalid {background:red;}
/*-- for datatable jEditable */

input.input-invalid, textarea.input-invalid {background-color:lightyellow !important;border: 1px dashed red !important;cursor:help !important;}
select.input-invalid + span.ui-combobox input {background-color:lightyellow !important;border: 1px dashed red !important;cursor:help !important;}
/*.input-required input, .input-required select, .input-required textarea {background:yellow url(../images/bg-input-required.png) 50% top repeat-x;}*/
.input-invalid input, .input-invalid select, .input-invalid textarea {background-color:lightyellow !important;border: 1px dashed red !important;cursor:help !important;} 
/*background:red url(../images/bg-input-invalid.png) 50% top repeat-x;*/

/* ++ for validation form element notification popup */
span.cls-elem-validate-popup {position:absolute;margin-left:-0.5em;margin-top:-1.2em;background-color:whitesmoke;border-radius:4px;border:1px dotted red;}
span.cls-elem-validate-popup span {color:red;background:url('../images/warning.png') left center no-repeat;padding:2px 2px 2px 20px;margin-left:12px;}
/* padding:2px 2px 2px 25px;background:url('../images/icons/16/error.png') left center no-repeat; */

/*++ case use jQuery tooltip */
div.cls-elem-validate-popup {border:1px dashed red !important;}
div.cls-elem-validate-popup div.ui-tooltip-content {color:red;}
/*-- case use jQuery tooltip */
/* -- for validation form element notification popup */

.ui-dialog { font-size:12px !important;}
.ui-dialog-titlebar-close {visibility:hidden;}

.ui-autocomplete {max-height:200px;overflow-y:auto;overflow-x:hidden;padding-right:25px !important;}
/*.ui-autocomplete-input { margin:0;}*/
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {height:200px;}
.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat !important;}
.ui-autocomplete li.ui-menu-item {white-space:nowrap;}
.ui-autocomplete li.ui-menu-item a {display:inline-block;width:100%;}

/* Date Picker */
.ui-datepicker { font-size:12px;}
/* Settings Dialog */
