div#content {height:100%;}
div#mid_wrapper {position:absolute;}
div#middle_panel {overflow:auto;padding-left:0;}

.button.success { cursor: pointer;display:inline-block;font-size:1rem;background-color:#43AC6A;border-color:#368a55;color:#FFFFFF;padding:0.5rem 1rem 0.5rem 1rem;line-height:normal;margin:0 0 1.25rem;position:relative;text-align:center;transition:background-color 300ms ease-out; }
.button.success:hover {color:#FFFFFF;background-color:#368a55;}

.panel > :last-child {margin-bottom:0;}

div.cls-image-container {display:block;width:100%;max-width:100%;background-color:#ddd;background-size:100% auto;-o-background-size:100% auto;-webkit-background-size:100% auto;-moz-background-size:100% auto;background-repeat:no-repeat;overflow:hidden;}
div.cls-image-container:not([style*="background-image:none"]) {cursor:pointer;}

#div_room_images div {}
#div_room_images img {height:auto;width:auto;max-width:100%;max-height:170.625px;overflow:hidden;}
#div_room_images .panel {min-height:61px;}
#div_room_images div.cls-image-container {height:170.625px;max-height:170.625px;}
#div_room_images p {display:block;width:100%;text-align:center;}

#div_building_image  div.cls-image-container {height:251.5px;max-height:251.5px;}
