.row {font:14.4px Helvetica, Roboto, Arial, sans-serif;font-style:normal;line-height:1.5;}

.row p {font-family:inherit;font-size:90%;font-weight:normal;margin-bottom:1.25rem;text-rendering:optimizeLegibility;}

#txa-description {height:4em;width:100%;}
#div_building_image div.cls-image-container {width:100%;max-width:100%;background-color:#ddd;background-size:100% auto;-o-background-size:100% auto;-webkit-background-size:100% auto;-moz-background-size:100% auto;background-repeat:no-repeat;overflow:hidden;height:188px;max-height:188px;}

div.medium-4 div.frm-edit-row-value { height: 189px; }
div.medium-4 div.frm-edit-row-value span.spn-image-select { height:100%; }

div.display-upload span.spn-image-select { height:170px;line-height:170px; }
.cls-image-title { text-align:center; }

.frm-edit-row-value .ui-button-text {margin:0px;padding:0px;}

.cls-room-details {font-size:0.875rem;color:#222222;border:solid 1px #DDDDDD;border-bottom:1px solid #d3cbc5;background:#FFFFFF;margin-bottom:1.25rem;table-layout:auto;line-height:1.125rem;}
.cls-room-details tr {margin:0;padding:0;}
.cls-room-details tr:nth-of-type(even) {background:#F9F9F9;}
.cls-room-details th {text-align:center;vertical-align:middle;padding:0.5625rem 0.625rem;padding-bottom:2px;}
.cls-room-details th span {display:block;width:100px;height:32px;line-height:32px;font-weight:bold;background:#e9e6de;}
.cls-room-details td {padding:6px 10px 0;vertical-align:middle;min-width:170px;}

.row img.cls-fac-srvc-icon {width:50px;cursor:help;}

div.cls-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
div.cls-modal img.cls-modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}
div.cls-modal div.cls-modal-caption {
	font-size:xx-large;
	line-height:2;
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

div.cls-modal span.cls-modal-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

div.cls-modal span.cls-modal-close:hover,
div.cls-modal span.cls-modal-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}
