﻿#divPanelHandler{position:absolute;top:0;margin-left:15px;cursor:pointer;z-index:90;}
#left_panel {display:block;float:left;width:25%;height:100%;overflow:auto;}
#left_panel form {margin-left:5px;}
#main_panel {display:block;height:100%;padding-right:5px;overflow:auto;}

