.items_row {
	max-height: 200px;
	overflow: hidden;
	border-bottom:1px solid #d8d8d8;
	margin-right:0.5em;
	margin-bottom: 10px;
}
.panel {
	margin-top:0px;
	margin-bottom: -1px;
}
.items_row table tbody tr td img {max-height:180px;}
