.leaflet-control-zoom-fullscreen { background-image: url(../../images/icons/16/icon-fullscreen.png); }
.leaflet-control-zoom-fullscreen-on { box-shadow: 0 0 8px rgba(10,10,10,10);}

.leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; }
.leaflet-container:-moz-full-screen { width: 100% !important; height: 100% !important; }
.leaflet-container:full-screen { width: 100% !important; height: 100% !important; }

/* ++ map popup */
.cls-my-popup-content .leaflet-popup-content {margin:1em;}
.cls-my-popup-content a.leaflet-popup-close-button {color:transparent !important;background: url('../../images/details_close.png') !important;}
.cls-my-popup-content a.leaflet-popup-close-button:hover {color:transparent !important;}

.cls-tbl-popup-bldng {width:300px;margin:0px;text-align:left;border-collapse:collapse;}
.cls-tbl-popup-bldng thead tr:first-child th:first-child {border-top-left-radius:6px;}
.cls-tbl-popup-bldng thead tr:first-child th:last-child {border-top-right-radius:6px;}
.cls-tbl-popup-bldng tfoot tr:last-child td:first-child {border-bottom-left-radius:6px;}
.cls-tbl-popup-bldng tfoot tr:last-child td:last-child {border-bottom-right-radius:6px;}
.cls-tbl-popup-bldng thead tr th {text-align:center;font-size:12px;padding:5px;font-weight:bold;background:#b9c9fe url("../../images/gradhead.png") repeat-x;border-bottom:1px solid #fff;color:#039;height:12px;}
.cls-tbl-popup-bldng tfoot tr td {background:#e8edff;font-size:10px;color:#99c;line-height:.5em;}
.cls-tbl-popup-bldng tbody tr td {padding:5px;border-top:1px solid #fff;border-bottom:1px solid #fff;color: #669;background: #E8EDFF url("../../images/gradback.png") repeat-x;}
.cls-tbl-popup-bldng tbody tr:hover td:not(.cls-td-popup-image) { background: #d0dafd url("../../images/gradhover.png") repeat-x;color:#339; }
.cls-td-popup-title {width:70px;text-align:right;margin-right:.5em;}
.cls-td-popup-label {width:150px;}
.cls-td-popup-image {}
.cls-popup-image { border:0px;width:80px;height:80px; }
/* -- map popup */
