#left_panel {
	position:absolute;
    padding:4px;
    border-radius:4px;
    background-color:#FFFFFF;
    border:1px solid gray;
    box-shadow:0 20px 10px #555;
	opacity:0.9;
	z-index:1000;
}

#img_ex_rate_info {vertical-align:middle;margin-right:2px;cursor:pointer;}
.cls-ex-rate-info-tooltip {padding-right:1em;}
.cls-ex-rate-info-tooltip ul {margin:.2em auto;}
.cls-ex-rate-info-tooltip ul li {list-style-type:disc;white-space:nowrap;font-size:12px;}

.panel {
	/*padding:0px;margin:0px;*/
	line-height:2;
}

#left_panel form {margin:0px;}

.cols-2 .column-1, .cols-2 .column-2 {
	vertical-align:top;
}
.label {
	/*
	display: inline-block;
    font-weight: normal;
    line-height: 1;
    margin-bottom: auto;
    position: relative;
    font-size: 0.6875rem;
	*/
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem 0.25rem;
    background-color: #008CBA;
    color: #FFFFFF;
}
.text-right {
	text-align:right;margin-right:1em;
}

input[type="radio"].cls-radio {margin-right:0px;}
.cls-radio-label {margin-right:10px;}

.estate_bank_tmpl input[type=text], .estate_bank_tmpl input[type=password], .estate_bank_tmpl select {
	max-width:100%;
	border-top: 0px;
}
hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
	/*width: 96%;*/
    margin: .5rem auto;
}
span.ui-combobox {
	white-space:nowrap;
}
span.ui-combobox input.ui-combobox-input {
	border-radius:0px;
	-webkit-appearance: none !important;
    -moz-appearance: none !important;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
	padding: 4px;
    margin-bottom: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
span.ui-combobox a.ui-combobox-toggle {
/*
	-webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #FAFAFA;
*/
	height: 2.3125rem;
	border:0px;
	width: 20px;
    right: 20px;
	background-image: none;
    background-color: transparent;
}
span.ui-combobox .ui-icon {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
	background-position: 100% center;
    background-repeat: no-repeat;
}
a.button.expand {
	border-radius:4px;
	cursor:pointer;
}

#ul_search_info {padding-top:1em;}
#ul_search_info li {cursor:pointer;padding-left:2px;font-size:10px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;list-style-position:inside;list-style-type:circle;} /*word-wrap:break-word;*/
	li.cls-info {}
	li.cls-caution {color:blue;}
	li.cls-warn {color:orange;}
	li.cls-error {color:red;}

li.cls-combobox-group {}
li.cls-combobox-group.cls-group-title { margin-top:3px;padding-top:5px;border-top:1px dashed gray;font-weight:bold; }
li.cls-combobox-group.cls-group-title a { background-image:url(../../images/details_close.png);background-repeat:no-repeat;background-position:5px 0px;padding-left:30px;max-width:95%;font-weight:bold;cursor:pointer; }
li.cls-combobox-group.cls-group-title a:hover { font-weight:bold;color:gray;text-shadow: 0 0 3px yellow;text-decoration:italic; }
li.cls-combobox-group.cls-groupState__collapse a { background-image:url(../../images/details_open.png); }
li.cls-combobox-group.cls-group-child a { padding-left:20px; }
