.label.round {
	border-radius: 1000px;
}
.label.found {
	background-color: #43AC6A;
    color: #FFFFFF;
}
#info_search_criterial {
    display: inline-block;
}
#divDisplayQueryResult label input {
	display: inherit;
}
#divDisplayQueryResult table th {
	background-color: #f2f2f2;
	color: inherit;
}
#divDisplayQueryResult table th.sorting, #divDisplayQueryResult table th.sorting_desc, #divDisplayQueryResult table th.sorting_asc {
	cursor: pointer;
}
#divDisplayQueryResult table tbody td img {
	display: inline-block;
    max-width: 40px;
    vertical-align: middle;
}
/*
tr.odd td.sorting_1 { background-color: #D3D6FF; }
tr.odd td.sorting_2 { background-color: #DADCFF; }
tr.odd td.sorting_3 { background-color: #DADCFF; }
tr.even td.sorting_1 { background-color: #EAEBFF; }
tr.even td.sorting_2 { background-color: #F2F3FF; }
tr.even td.sorting_3 { background-color: #F2F3FF; }

table tr.odd:hover td.sorting_1 {}
table tr.odd:hover td.sorting_2 {}
table tr.odd:hover td.sorting_3 {}
table tr.even:hover td.sorting_1 {}
table tr.even:hover td.sorting_2 {}
table tr.even:hover td.sorting_3 {}
*/
div.cls-div-result-header-cntr {max-height:160px;}
div.cls-div-result-header-cntr div { display:inline-block; }
#divTitlePanel { width:40%; }
#divDispMap { width:58%;float:right;height:100%;min-height: 142.5px; }
#divResultPanel { display:block;width:100%;height:300px;overflow-y:auto; }
